In [1]:
import numpy as np
import pandas as pd

In [4]:
import pickle

In [83]:
## Import dataframe from pickle
df = pd.read_pickle('dataset/dataframe.pickle', compression='gzip')

In [84]:
## Remove columns that aren't useful
df.drop(columns= ['meter_id', 'marked_time', 
                  'plate_expiry_date', 'vin', 
                  'body_style', 'color', 
                  'route', 'violation_code', 
                  'latitude', 'longitude', 
                  'ticket_number'], inplace = True)

In [85]:
## Count tickets per year
df.issue_date.dt.year.value_counts()

2015.0    2181331
2016.0    1783038
2014.0      39406
2017.0      33936
2013.0         38
2012.0         30
2010.0         12
2011.0         10
Name: issue_date, dtype: int64

In [86]:
## Only 2015 and 2016 has complete dataset so filter those out
df = df[df.issue_date.between('2015', '2017')]

In [87]:
## There are only a few nan values for issue_time
print('Number of nan Issue time: {}'.format((df.issue_time == -1).sum()))
## Replace -1 with median time because the issue time is pretty normal
df.loc[df.issue_time == -1, 'issue_time'] = df.issue_time.median()

Number of nan Issue time: 844

In [90]:
with pd.option_context('display.float_format', '{:.0f}'.format):
    print(df.issue_time.describe())

count   3964369
mean       1230
std         469
min           0
25%         927
50%        1208
75%        1546
max        2359
Name: issue_time, dtype: float64

In [ ]:
## Combine Issue Date and Issue Time

In [ ]:
## Testing

In [97]:
tmp = df.issue_time.astype('int').astype('str').str.pad(width = 4, side = 'left', fillchar = '0')

In [98]:
tmp.head()

0    2201
1    2205
2    1725
3    1738
4    1807
Name: issue_time, dtype: object

In [100]:
tmp2 = df.head().copy()

In [102]:
tmp2.issue_time = tmp2.issue_time.astype('int').astype('str').str.pad(4, 'left', '0')

In [106]:
tmp2 = tmp2.issue_date.astype('str') + ' ' + tmp2.issue_time

In [109]:
tmp2

0    2015-12-30 2201
1    2015-12-30 2205
2    2015-12-30 1725
3    2015-12-30 1738
4    2015-12-30 1807
dtype: object

In [108]:
pd.to_datetime(tmp2, format = '%Y-%m-%d %H%M')

0   2015-12-30 22:01:00
1   2015-12-30 22:05:00
2   2015-12-30 17:25:00
3   2015-12-30 17:38:00
4   2015-12-30 18:07:00
dtype: datetime64[ns]

In [68]:
df.issue_date.describe()

count                 3964369
unique                    729
top       2016-01-19 00:00:00
freq                     9829
first     2015-01-01 00:00:00
last      2016-12-31 00:00:00
Name: issue_date, dtype: object

In [96]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3964369 entries, 0 to 4004294
Data columns (total 9 columns):
ticket_number            uint64
issue_date               datetime64[ns]
issue_time               float64
rp_state_plate           object
make                     object
location                 object
agency                   category
violation_description    object
fine_amount              int16
dtypes: category(1), datetime64[ns](1), float64(1), int16(1), object(4), uint64(1)
memory usage: 413.3+ MB